:root {
  --color-bg: #eeeeee;
  --color-fg: #222831;
  --color-accent: #4F7543;
  --accent-h: 106;
  --accent-s: 27%;
  --accent-l: 36%;

  /* --color-bg: #e7e6e6;
  --color-fg: #1c1b22;
  --color-accent: #315f00;
  --accent-h: 89;
  --accent-s: 100%;
  --accent-l: 19%; */

  --tag-text-color--edit: var(--color-fg);
}

@media (prefers-color-scheme: dark) {
  :root {

    --color-bg: #222831;
    --color-fg: #e7e6e6;
    --color-accent: #78ae76;
    --accent-h: 118;
    --accent-s: 26%;
    --accent-l: 57%;
    
    /* --color-bg: #1c1b22;
    --color-fg: #e7e6e6;
    --color-accent: #c8f722;
    --accent-h: 73;
    --accent-s: 93%;
    --accent-l: 55%; */

    --tagify-dd-bg-color: var(--color-bg);
    /* --tagify-dd-color-primary: var(--color-accent);
    --tag-text-color: var(--color-bg); */
  }

  .tagify {
    --tag-text-color--edit: var(--color-fg);
    
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  background-color: var(--color-bg);
  color: var(--color-fg);
  min-width: 380px;
}

hr {
  margin: 1rem auto;
}

label {
  display: block;
  margin-bottom: 0.4rem;
}

label:not(:first-child) {
  margin-top: 1.33rem;
}

input, textarea {
  font-size: 16px;
  width: 100%;
  /* padding: 0.25rem 0.5rem; */
  padding: 0.6rem 0.4rem;
  border: 2px solid #8b8a8b;
  transition: 180ms box-shadow ease-in-out;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

input[type="checkbox"] {
  width: auto
}

input:focus, textarea:focus {
  border-color: hsl(
    var(--accent-h),
    var(--accent-s),
    var(--accent-l),
  );
  box-shadow: 0 0 0 2px
    hsla(
      var(--accent-h),
      var(--accent-s),
      calc(var(--accent-l) + 10%),
      0.8
    );
  outline: 2px solid transparent;
}

a {
  color: var(--color-accent);
}


.btn {
  cursor: pointer;
  background-color: var(--color-accent);
  color: var(--color-bg);
  padding: 0.5rem 1.2rem;
  border: none;
  font-size: 1.2rem;
  /* font-weight: 500; */
}

.btn:hover {
  background-color: hsl(var(--accent-h), var(--accent-s), calc( var(--accent-l) + 20%));
  color: var(--color-fg);
}


.btn[disabled] {
  background-color: hsl(var(--accent-h), var(--accent-s), calc( var(--accent-l) + 30%));
  color: var(--color-fg);
}

@media (prefers-color-scheme: dark) { 
  .btn:hover {
    background-color: hsl(var(--accent-h), var(--accent-s), calc( var(--accent-l) - 20%));
    color: var(--color-fg);
  }
  
  
  .btn[disabled] {
    background-color: hsl(var(--accent-h), var(--accent-s), calc( var(--accent-l) - 30%));
    color: var(--color-fg);
  }
}


.w-100 {
  width: 100%;
}

.hide {
  display: none;
}

.small {
  font-size: small;
}
.btn-link {
  color: var(--color-accent);
  background: none;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}

.popup-header a:hover {
  color: var(--color-accent);
}

.popup-header a:hover svg {
  fill: var(--color-accent);
}

.popup-header .current-tab svg {
  fill: var(--color-accent);
}

.popup-header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}


.popup-footer, .options-footer {
  margin-top: 1.33rem;
  display: flex;
  justify-content: flex-end;
}

.icon {
  text-decoration: none;
}

.tag-info {
  display: inline-block;
  font-size: smaller;
  background-color: var(--color-fg);
  color: var(--color-bg);
  margin: 0.3rem 0.2rem 0 0;
  padding: 0.2rem 0.4rem;
}

.tag-info:first-child {
  margin-left: 0.4rem;
}

.tag-info:last-child {
  margin-right: 0;
}

.search-results {
  max-width: 400px;
  min-height: 1.2rem;
}

.search-results a {
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.search-results a:hover,
.search-results a:focus,
.search-results a:active {
  background-color: var(--color-accent);
  color: var(--color-bg);
}
.tagify {
  width: 100%;
}

.tagify__dropdown {
  color: var(--color-fg);
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute !important;
  clip: rect(1px,1px,1px,1px);
}

.loading {
  display: flex;
  justify-content: center;
}

.loading div {
  width: 10px;
  height: 10px;
  background: var(--color-fg);
  border-radius: 50%;
  margin-left: 5px;
  animation: updown 0.5s infinite alternate;
}

.loading div:nth-child(2) {
  animation-delay: 0.2s
}

.loading div:nth-child(3) {
  animation-delay: 0.4s;
}

.loading.hide {
  display: none;
}

@keyframes updown {
  0% {
    opacity: 1;
    transform: translatey(-3px)
  }

  50% {
    opacity: 0.2;
    transform: translatey(3px)
  }
  100% {
    opacity: 1;
    transform: translatey(-3px)
  }
}

.toast {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: pre;
  color: var(--color-bg);
}

.toast .btn {
  color: var(--color-bg);
}

.toast.hide {
  display: none;
}

.toast.success {
  background-color: #033c03;
}

.toast.error {
  background-color: #750505;
}

.toast button {
  margin-left: 1rem;
}

@media (prefers-color-scheme: dark) { 
  .toast {
    color: var(--color-fg);
  }

  .toast .btn {
    color: var(--color-fg);
  }
}
